<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Index</title>
  </head>
  <body>
    <div class="wrapper">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form class="" action="/process" method="post">
        Your Name: <span><input type="text" name="name" value=""></span>
        Dojo Location: <span><select name="location">
          <option value="none">select</option>
          <option value="San Jose">San Jose</option>
          <option value="Washington DC">Washington DC</option>
          <option value="Who knows">Who knows?</option>
        </select></span>
        Favorite Language: <span><select name="language">
          <option value="none">select</option>
          <option value="Python">Python</option>
          <option value="Ancient Sanskrit">Ancient Sanskrit</option>
          <option value="Profanity">Profanity</option>
        </select></span>
        Comment (optional)
        <textarea name="comment" rows="8" cols="60"></textarea>
        <input type="submit" name="" value="Submit">
      </form>
    </div>
  </body>
</html>
