<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Users {{ id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
  </head>
  <body>
    <h1>Edit User {{ id }}</h1>
    <form action="/users/{{ id }}/update" method="post">
      {% csrf_token %}
      First name:
      <input type="text" name="first_name" value="{{ first_name }}"><br>
      Last name:
      <input type="text" name="last_name" value="{{ last_name }}"><br>
      Email:
      <input type="text" name="email" value="{{ email }}"><br>
      <input type="submit" value="Update">
    </form>
    <a href="/users/{{ id }}"></a>
    <a href="/users"></a>
  </body>
</html>
